.gitattributes export-ignore
.gitignore export-ignore
.editorconfig export-ignore

/.github export-ignore
/docs export-ignore
/resources export-ignore
/tests export-ignore
/CHANGELOG.md export-ignore
/CONTRIBUTING.md export-ignore
/Makefile export-ignore

phpcs.php export-ignore
phpstan.neon export-ignore
phpunit.xml export-ignore
