parameters:
  level: 8
  tmpDir: var/phpstan
  paths:
    - src
    - tests

  reportUnmatchedIgnoredErrors: true
  ignoreErrors:
    - identifier: missingType.iterableValue
      path: tests/*Test.php
