name: build

on:
  workflow_dispatch:
  push:
  schedule:
    - cron: '0 12 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [ '8.1', '8.2', '8.3', '8.4', '8.5' ]
        composer: [ '--prefer-lowest', '' ]
        exclude:
          - php: '8.2'
            composer: '--prefer-lowest'
          - php: '8.3'
            composer: '--prefer-lowest'
          - php: '8.4'
            composer: '--prefer-lowest'
          - php: '8.5'
            composer: '--prefer-lowest'
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug

      - name: Git checkout
        uses: actions/checkout@v5

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Prepare Composer cache vars
        id: composer
        run: |
          echo "cache_dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
          echo "cache_key=$(date +'%Y-%m-%d')-${{ runner.os }}-${{ matrix.php }}${{ matrix.composer }}-composer-" >> $GITHUB_OUTPUT

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer.outputs.cache_dir }}
          key: ${{ steps.composer.outputs.cache_key }}${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ steps.composer.outputs.cache_key }}

      - name: Update Composer dependencies
        run: composer update ${{ matrix.composer }} --prefer-dist --no-progress --no-suggest --no-interaction

      - name: Run PHP CS Fixer
        run: make phpcs
        if: success()

      - name: Run PHPStan
        run: make phpstan
        if: success() || failure()

      - name: Run PHPUnit
        run: make phpunit
        if: success() || failure()
